Trabalho\ 1/programaTrab
Trabalho\ 1/*.bin
Trabalho\ 1/.vscode
Trabalho\ 2/programaTrab
Trabalho\ 2/*.bin
Trabalho\ 2/*.in
Trabalho\ 2/*.out
Trabalho\ 2/debug.py
Trabalho\ 2/debug_files
Trabalho\ 2/casos_abertos
Trabalho\ 2/hex_files
Trabalho\ 2/binFiles
Trabalho\ 2/.vscode
Trabalho\ 2/casosT
Trabalho\ 3/in
Trabalho\ 3/out
Trabalho\ 3/files
Trabalho\ 3/.vscode
Trabalho\ 3/casos_abertos-ATUALIZADO.zip
Trabalho\ 3/programaTrab
